/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
  background-color: $color-white;
  border-top: 1px solid $color-smokey-white;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1;
  padding: 60px 0;
  text-align: center;
  p {
    margin-bottom: 0;
  }
}