// Colors
$color-black: #000;
$color-dark-gray: #333;
$color-light-gray: #ddd;
$color-lighter-gray: #aaa;
$color-dusty-gray: #999;
$color-medium-gray: #666;
$color-white: #fff;
$color-red: #c2261d;
$color-smokey-white: #eee;

$color-cobalt: #777;
$color-hover-red: #c3251d;
$color-lighter-hover-red: #c2261d;
$color-lemon-yellow: #ff0;