/* ## Avatar
--------------------------------------------- */

.avatar {
  border-radius: 50%;
  float: left;
}

.alignleft .avatar {
  margin-right: 24px;
}

.alignright .avatar {
  margin-left: 24px;
}

.author-box .avatar {
  height: 90px;
  margin-right: 24px;
  width: 90px;
}

.comment .avatar {
  height: 60px;
  margin: 0 16px 24px 0;
  width: 60px;
}