/* # Site Header
---------------------------------------------------------------------------------------------------- */

.site-header {
  background-color: $color-white;
  min-height: 120px;
  .wrap {
    padding: 20px 0;
  }
}